/* css */

body {
    font-family: 'Julius Sans One', sans-serif;
    background-color: #EEEEEE;
}

.fortune-container {
    text-align: center;
    font-size: 2em;
}

.my-container {
    margin-top: 22vh;
}

.title {
    margin-top:25px;
    margin-bottom: 100px;
}

#wrapper{
    position: fixed;
    top:25px;
    right:25px;
}

.about{
    width: 150px;
    height: 50px;
    background-color: EEEEEE;
    color:#1E1E1E;
    border-radius: 1px;
    opacity: 0.8;
    border-radius: 5px;
}

.about:hover{
    opacity: 1;
}

:root {
    --fortune-btn-color: #EEEEEE;
    --fortune-btn-hover-color: #EEEEEE;
    --fortune-btn-bg: #1E1E1E;
    --fortune-btn-hover-bg: #606060;
    --fortune-btn-hover-border: #1E1E1E;
    --fortune-btn-active-border: #1E1E1E;
    --fortune-btn-focus-shadow-rgb: 150, 150, 150;
}

.btn-fortune{
    --bs-btn-color: var(--fortune-btn-color);
    --bs-btn-bg: var(--fortune-btn-bg);
    --bs-btn-border-color: var(--fortune-btn-bg);
    --bs-btn-hover-color: var(--fortune-btn-hover-color);
    --bs-btn-hover-bg: var(--fortune-btn-hover-bg);
    --bs-btn-hover-border-color: var(--fortune-btn-hover-border);
    width: 80%;
    font-family: 'Judson', serif;
    border-radius: 15px;
}

#fortune {
    padding-bottom: 2%
}

.user-control {
    position: fixed;
    bottom: 30vh;
    width: 100%;
}

/* SLider code from W3Schools
Link: https://www.w3schools.com/howto/howto_js_rangeslider.asp */

/* Filling the slider as a progress bar: 
https://blog.logrocket.com/creating-custom-css-range-slider-javascript-upgrades/ */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 15px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1E1E1E;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }